:root {
    --basic-green: #849D8F;
    --basic-gray: #8996A6;
    --basic-brown: #9D8B84;
    --basic-white: #FFFFFF;
    --former-white: #F8F7F4;
    --gray-stroke: #D3D3D2;
    --gray-place: #999999;
    --dusty-orange-dark: #D07058;
    --dusty-orange: #F6B5A5;
    --dusty-orange-light: #F8DED7;
    --whitish-exception: #EDEDED;
    --basic-orange: #F26843;
    --redish-orange: #E84D37;
    --peachy: #FFBC9E;
    --basic-black: #323232;
    --blackish: #5A5A5A;
}

body {
    min-width: 1200px;
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-white);
    background-color: var(--basic-green);
    background-image: url("../img/Background1.png");
    background-position: top center; 
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.page {
    height: 100%;
}

.page-body {
    flex: 1 0 auto;
}

header {
    width: 100%;
    margin-left: 27px;
    margin-top: 9px;
    margin-right: 27px;
    margin-bottom: 70px;
    outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

a {
    text-decoration: underline;
    color: var(--basic-white)
}

a:hover {
    color: var(--peachy);
}

img {
    max-width: 100%;
    height: auto;
}

.list-unstyle {
    list-style: none;
}

.logo {
    width: 154px;
    height: 64px; 
}

.logotip {
    width: 154px;
    height: 64px; 
    padding-top: 32px;
    padding-right: 24px;
    outline: 5px solid rgba(17, 62, 211, 0.3);
    outline-offset: -5px;
}

.catalogic {
    padding-top: 32px;
    padding-right: 32px;
    outline: 5px solid rgba(204, 0, 255, 0.3);
    outline-offset: -5px;
}

.delivery-and {
    padding-top: 32px;
    padding-right: 32px;
    outline: 5px solid rgba(134, 0, 255, 0.3);
    outline-offset: -5px;
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding-left: 27px;
    padding-right: 27px;
    display: flex;
    flex-direction: column;
}

.about-company {
    padding-top: 32px;
    padding-right: 367px;
    outline: 5px solid rgba(0, 225, 255, 0.3);
    outline-offset: -5px;
}

.container-search {
    padding-top: 23px;
    padding-right: 10px;
    outline: 5px solid rgba(255, 115, 0, 0.3);
    outline-offset: -5px;
}

.container-login {
    padding-top: 23px;
    padding-right: 10px;
    outline: 5px solid rgba(248, 10, 10, 0.3);
    outline-offset: -5px;
}

.container-cart {
    display: none;
    padding-top: 23px;
    padding-right: 27px;
    outline: 5px solid hsla(286, 100%, 81%, 0.842);
    outline-offset: -5px;
}

.upper-left {
    font-size: 16px;
    line-height: 18px;
}

/*.catalog-links {
    opacity: 0;
}*/

.catalog-links a {
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-decoration: none;
}

.catalog-links a:hover {
    color: var(--redish-orange);
}

.new {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.contacts-container {
    display: flex;
    margin-left: 1024px;
    margin-right: 27px;
    justify-content: flex-end;
    outline: 5px solid rgba(7, 39, 82, 0.3);
    outline-offset: -5px;
}

.contact.info {
    font-size: 14px;
    line-height: 16px;
    width: 149px;
    height: 16px;
}

.contact-info a {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    width: 167px;
    height: 24px;
}

.pair p {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    padding-left: 264px;
    padding-right: 264px;
    width: 672px;
    height: 119px;
}

.pair a {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 501px;
    padding-right: 501px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 198px;
    height: 44px;
    outline: 5px solid hsla(286, 100%, 81%, 0.842);
    outline-offset: -5px;
}

.for-free h2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.for-free p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.for-free a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.for-free {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.raspberry h2 {
    width: 273px;
    height: 41px;
    margin-left: 43px;
    margin-right: 297px;
}

.raspberry p {
    width: 514px;
    height: 44px;
    margin-left: 43px;
    margin-right: 56px;
}

.raspberry a {
    width: 120px;
    height: 17px;
    margin-left: 423px;
    margin-right: 70px;
}

.chocolate h2 {
    width: 317px;
    height: 41px;
    margin-left: 42px;
    margin-right: 254px;
}

.chocolate p {
    width: 514px;
    height: 44px;
    margin-left: 42px;
    margin-right: 57px;
}

.chocolate a {
    width: 147px;
    height: 17px;
    margin-left: 395px;
    margin-right: 71px;
}

.items ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.items img {
    width: 267px;
    height: 267px;
    margin-right: 26px;
    margin-top: 40px;
}

.items p {
    width: 267px;
    height: 44px;
    text-align: center;
}

.items price {
    width: 121px;
    height: 31px;
}

.items span {
    width: 41px;
    height: 21px;
}

.items a {
    opacity: 0;
}

.headline {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
    width: 995px;
    height: 60px;
    margin-left: 47px;
    margin-right: 158px;
}

.store-info {
display: flex;
width: 1146px;
height: 306px;
flex-direction: column;
flex-wrap: wrap;
color: var(--basic-black);
outline: 5px solid rgba(0, 255, 0, 0.3);
outline-offset: -5px;
}

.store-pattern {
    display: flex;
    width: 1146px;
    height: 306px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.all-our-ice {
    width: 485px;
    height: 55px;
    margin-top: 21px;
    margin-bottom: 33px;
    font-size: 16px;
}

.for-making-ice {
    width: 484px;
    height: 77px;
    margin-bottom: 36px;
}

.buying-ingredients {
    width: 482px;
    height: 55px;
    margin-bottom: 33px;
}

.delivery-of-ice {
    width: 482px;
    height: 55px;
    margin-bottom: 58px;
}

.our-news {
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 220px;
}

.blog-news {
    width: 163px;
    height: 11px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--basic-black);
}

.ten-ways {
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
    font-weight: 700;
    text-decoration: underline;
    width: 287px;
    height: 77px;
}

.mailing {
    display: flex;
    flex-direction: column;
    width: 560px;
    height: 220px;
}

.news-and-mailing {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subscribe {
    color: var(--blackish);
}

.direction {
    align-self: flex-end;
}

.items p {
    font-weight: 500;
    text-align: center;
}

.creamy {
    font-size: 35px;
    line-height: 41px;
    color: var(--basic-white);
    font-weight: 700;
}

.price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
}

.direction p {
    font-size: 14px;
    line-height: 20px;
    color: var(--basic-black);
}

.direction a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
}

.undecorate {
    text-decoration: none;
}

.feedback-link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.feedback {
    display: none;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}



