:root {
    --basic-green: #849D8F;
    --basic-gray: #8996A6;
    --basic-brown: #9D8B84;
    --basic-white: #FFFFFF;
    --former-white: #F8F7F4;
    --gray-stroke: #D3D3D2;
    --gray-place: #999999;
    --dusty-orange-dark: #D07058;
    --dusty-orange: #F6B5A5;
    --dusty-orange-light: #F8DED7;
    --whitish-exception: #EDEDED;
    --basic-orange: #F26843;
    --redish-orange: #E84D37;
    --peachy: #FFBC9E;
    --basic-black: #323232;
    --blackish: #5A5A5A;
}

body {
    min-width: 1200px;
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-white);
    background-color: var(--basic-green);
    background-image: url("../img/Background1.png");
    background-position: top center; 
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
}

html {
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 27px;
    margin-top: 9px;
    margin-right: 27px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

a {
    text-decoration: underline;
    color: var(--basic-white)
}

a:hover {
    color: var(--peachy);
}

img {
    max-width: 100%;
    height: auto;
}

.list-unstyle {
    list-style: none;
}

.logo {
    width: 154px;
    height: 64px; 
}

.logotip {
    padding-top: 32px;
    padding-right: 24px;
}

.catalogic {
    padding-top: 32px;
    padding-right: 32px;
}

.delivery-and {
    padding-top: 32px;
    padding-right: 32px;
}

.about-company {
    padding-top: 32px;
    padding-right: 367px;
}

.container-search {
    padding-top: 23px;
    padding-right: 10px;
}

.container-login {
    padding-top: 23px;
    padding-right: 10px;
}

.container-cart {
    padding-top: 23px;
    padding-right: 27px;
}

.upper-left {
    font-size: 16px;
    line-height: 18px;
}

.catalog-links a {
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-decoration: none;
}

.catalog-links a:hover {
    color: var(--redish-orange);
}

.new {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.contacts-container {
    margin-left: 1024px;
    margin-right: 27px;
}

.contact.info {
    font-size: 14px;
    line-height: 16px;
    width: 149px;
    height: 16px;
}

.contact-info a {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    text-decoration: none;
    width: 167px;
    height: 24px;
}

.pair p {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    text-align: center;
    padding-left: 264px;
    padding-right: 264px;
    width: 672px;
    height: 119px;
}

.pair a {
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    text-decoration: none;
    padding-left: 501px;
    padding-right: 501px;
}

.pair {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.for-free h2 {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.for-free p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.for-free a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.for-free {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.headline {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
}

.store-info {
    color: var(--basic-black);
    text-align: center;
}

.blog-news {
    font-weight: 500;
    text-decoration: none;
    color: var(--basic-black);
}

.blog-news a {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
}

.ten-ways {
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-black);
}

.mailing {
    color: var(--blackish);
}

.items p {
    font-weight: 500;
    text-align: center;
}

.creamy {
    font-size: 35px;
    line-height: 41px;
    color: var(--basic-white);
    font-weight: 700;
}

.price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.kg {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
}

.direction p {
    font-size: 14px;
    line-height: 20px;
    color: var(--basic-black);
}

.direction a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--basic-black);
}

.undecorate {
    text-decoration: none;
}

.feedback-link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.feedback {
    display: none;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



